body {
    margin: 0;
    background: #f6f0f8;
    display: grid;
    height: 100vh;
    place-items: center;
}

.boton-Barra {
    position: fixed;
    top: 560px;
    left: 20px;
    background-color: #e5d9f3;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 25px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.boton-Barra:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}

.barraNav {
    position: fixed;
    top: 0;
    left: 0;
    background: #f3ebfc;
    background: linear-gradient(90deg, #f8f3fa 0%, hsl(271, 57%, 93%) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 0 0 15px #b8b8b8;

    transform: translateX(-260px);
    transition: transform 0.4s ease;
    z-index: 999;
}

.barraNav.open {
    transform: translateX(0);
}

.barraNav h2 {
    text-align: center;
    color: #979df3;
    font-weight: 5px;
}

.barraNav a{
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
}

.barraNav a:hover {
    background-color: #ead1fc;
    padding-left: 30px;
}

.barraAlta {
    position: fixed;
    background: #fff;
    background: linear-gradient(0deg, #e8e0f1 0%, #f3f3fd 100%);
    box-shadow: 0 0 10px #00000042;
    top: 0;
    left: 0;
    width: 100%;
    height:65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraAlta h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #a793f0;
    text-shadow: 0 0 10px #00000042;
}

.contenido {
    margin-top: 35px;
    padding: 30px;
}

.imgContent {
    width: 65%;
    height: 55%;
    margin: auto;
    margin-top: 5%;
    background: #eeddfa65;
    overflow: hidden;
    border-radius: 20px;
}

.productos {
    display: flex; /* Habilita Flexbox */
    gap: 20px; /* Espacio entre los divs */
}

.compraUno, .compraDos, .compraTres {
    background: #fff;
    width: 400px;
    height: 450px;
    border-radius: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #6f71df;
    font-size: 75px;
    padding: 20px;
    margin: 0;
}

img {
    margin: 10px;
    margin-top: 18%;
    width: 240px;

}

h3,p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.botonCompra {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 145px;
    cursor: pointer;
    border: none;
    color: #ede7f7;
    font-weight: bold;
    font-size: 15px;
    background: #6f71df;
    background: linear-gradient(0deg, #b0b1fc 0%, #6f71df 100%);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 5px 10px #00000042;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}

.botonCompra:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}