body {
    margin: 0;
    background: #f7f8ff;
    display: flex;
}

.boton-Barra {
    position: fixed;
    top: 5px;
    left: 63px;
    background-color: hsl(198, 81%, 89%);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 25px;
    padding: 10px 15px;
    box-shadow: 0 0 10px #00000034;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

.boton-Barra:active {
    transform: scale(0.90);
    transition: transform 0.1s;
}

.barraNav {
    position: fixed;
    left: 0;
    background: #a3d6f1;
    background: linear-gradient(90deg, #c4e6e6 0%, hsl(227, 67%, 88%) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 0 0 15px #b8b8b8;
    z-index: 999;

    transform: translateX(-260px);
    transition: transform 0.4s ease;
}

.barraNav.open {
    transform: translateX(0);
}

.barraNav h2 {
    margin-top: 60px;
    text-align: center;
    text-shadow: 0 0 10px #00000052;
    color: #0042f756;
    font-weight: 5px;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff67;
}

.barraNav a{
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
}

.barraNav a:hover {
    background-color: #b5bfeb;
}

.barraAlta {
    position: fixed;
    background: #fff;
    background: linear-gradient(0deg, #e0ecf1 0%, #bbd4ee 100%);
    box-shadow: 0 0 10px #00000021;
    top: 0;
    left: 0;
    width: 100%;
    height:65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraAlta h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 0 10px #00000042;
}

.contenido {
}

#logoPag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #6f71df;
    font-size: 75px;
    padding: 20px;
    margin: 0;
}

#quienesSomos {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: #ffffff;
    background: linear-gradient(0deg, #e0e2ffc2 0%, #f1e7f5 100%);
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px #0000000e;
}